<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="QuartzAI - The easiest way to create and manage AI projects">
    <meta name="keywords"
        content="AI, artificial intelligence, projects, automation, data analysis, content generation">
    <meta name="author" content="QuartzWarrior">
    <meta name="twitter:card" content="screenshot.png">
    <meta name="twitter:title" content="QuartzAI">
    <meta name="twitter:description" content="The easiest way to create and manage AI projects">
    <meta name="twitter:image" content="screenshot.png">
    <meta property="og:title" content="QuartzAI">
    <meta property="og:description" content="The easiest way to create and manage AI projects">
    <meta property="og:image" content="screenshot.png">
    <meta property="og:url" content="https://ai.quartzwarrior.xyz">
    <meta property="og:site_name" content="QuartzAI">
    <meta property="og:type" content="website">
    <title>QuartzAI</title>
    <link rel="icon" href="logo.jpeg">
    <link rel="stylesheet" href="style.css">
</head>

<body class="dark:bg-gray-900 dark:text-white">
    <div class="container mx-auto px-4">
        <div class="flex items-center justify-between py-4">
            <div class="flex items-center space-x-2">
                <img src="logo.jpeg" alt="Logo" class="h-8 w-8 rounded-full">
                <span class="dark:text-gray-600 text-xl font-bold text-gray-800">QuartzAI</span>
            </div>
            <div class="flex items-center space-x-4">
                <a href="#features"
                    class="text-gray-600 hover:text-gray-800 dark:text-gray-400 dark:hover:text-white">Features</a>
                <a href="#pricing"
                    class="text-gray-600 hover:text-gray-800 dark:text-gray-400 dark:hover:text-white">Pricing</a>
                <a href="#"
                    class="text-gray-600 hover:text-gray-800 dark:text-gray-400 dark:hover:text-white">Contact</a>
                <a href="/dashboard" class="bg-purple-600 text-white px-4 py-2 rounded-md hover:bg-purple-700">Get
                    Started</a>
            </div>
        </div>
        <div class="flex flex-col md:flex-row items-center justify-between py-16">
            <div class="md:w-1/2 md:pr-8">
                <h1 class="text-4xl font-bold text-gray-800 dark:text-white mb-4">The easiest way to create and manage
                    AI projects</h1>
                <p class="text-gray-600 dark:text-gray-300 mb-6">QuartzAI is a platform that helps you build, deploy,
                    and scale AI
                    applications with ease. Whether you need to automate a task, analyze data, or generate content,
                    QuartzAI has the tools and templates you need to get started.</p>
                <div class="flex items-center space-x-2 mb-4">
                    <!-- <input type="email" placeholder="Enter your email"
                        class="border border-gray-300 px-4 py-2 rounded-md w-64 focus:outline-none focus:ring-2 focus:ring-blue-600 dark:bg-gray-800 dark:border-gray-600 dark:text-white">
                    <button class="bg-blue-600 text-white px-4 py-2 rounded-md hover:bg-blue-700">Join Now</button> -->
                    <a href="/dashboard" class="bg-purple-600 text-white px-4 py-2 rounded-md hover:bg-purple-700">Sign
                        up with
                        Discord</a>
                    <!--button that says "GUI" and redurects to /gui-->
                    <a href="/gui" class="bg-blue-800 text-white px-4 py-2 rounded-md hover:bg-blue-900">GUI</a>
                </div>
                <p class="text-sm text-gray-500 dark:text-gray-300">No credit card required. Cancel anytime.</p>
            </div>
            <div class="md:w-1/2 md:pl-8">
                <img src="screenshot.png" alt="Screenshot" class="w-full h-auto rounded-md shadow-lg">
            </div>
        </div>
        <div class="flex flex-col md:flex-row items-center justify-center py-16">
            <div class="md:w-full md:pr-8">
                <h2 id="features" class="text-2xl font-bold text-gray-800 dark:text-white mb-4">Features</h2>
                <div class="bg-gray-200 p-4 rounded-md dark:bg-gray-800">
                    <div class="mb-4">
                        <h3 class="text-lg font-bold text-gray-800 dark:text-white mb-2">AI Chat</h3>
                        <p class="text-gray-600 dark:text-gray-300">Have interactive conversations with an AI-powered
                            chatbot. Get answers to your questions and engage in natural language conversations.</p>
                    </div>
                    <div class="mb-4">
                        <h3 class="text-lg font-bold text-gray-800 dark:text-white mb-2">Image Generation</h3>
                        <p class="text-gray-600 dark:text-gray-300">Generate realistic images using advanced AI
                            algorithms. Create unique visuals for your projects with ease.</p>
                    </div>
                    <div class="mb-4">
                        <h3 class="text-lg font-bold text-gray-800 dark:text-white mb-2">Text Generation</h3>
                        <p class="text-gray-600 dark:text-gray-300">Generate human-like text using state-of-the-art AI
                            models. Create compelling content for your applications and projects.</p>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="flex flex-col xs:flex-col sm:flex-col md:flex-row lg:flex-row xl:flex-row items-center justify-center py-16">
            <div class="md:w-full md:p-2">
                <h2 id="pricing" class="text-2xl font-bold text-gray-800 dark:text-white mb-4">Pricing</h2>
                <div class="grid grid-cols-4 grid-rows-1 gap-4">
                    <div class="bg-gray-200 p-4 rounded-md dark:bg-gray-800 border border-blue-600">
                        <h3 class="text-lg font-bold text-gray-800 dark:text-white mb-2">Basic Plan</h3>
                        <p class="text-gray-600 dark:text-gray-300 mb-2">Perfect for individuals and small teams.</p>
                        <p class="text-gray-600 dark:text-gray-300">- Unlimited Discord bot usage</p>
                        <p class="text-gray-600 dark:text-gray-300">- Unlimited Site Usage</p>
                        <p class="text-gray-600 dark:text-gray-300">- Free GPT-4</p>
                        <p class="text-gray-600 dark:text-gray-300">- 50+ Text To Speech</p>
                        <p class="text-gray-600 dark:text-gray-300">- Basic Support</p>
                        <p class="text-gray-600 dark:text-gray-300">- 10/minute API Limit</p>
                    </div>
                    <div class="bg-gray-200 p-4 rounded-md dark:bg-gray-800 border border-purple-600">
                        <h3 class="text-lg font-bold text-gray-800 dark:text-white mb-2">Pro Plan</h3>
                        <p class="text-gray-600 dark:text-gray-300 mb-2">Ideal for medium-sized businesses.</p>
                        <p class="text-gray-600 dark:text-gray-300">- 20/minute API Limit</p>
                        <p class="text-gray-600 dark:text-gray-300">- Beta access</p>
                        <p class="text-gray-600 dark:text-gray-300">- Sneek Peaks</p>
                        <p class="text-gray-600 dark:text-gray-300">- Self Hosted API</p>
                        <p class="text-gray-600 dark:text-gray-300">- Discord Role</p>
                        <p class="text-gray-600 dark:text-gray-300">- Premium Channel</p>
                    </div>
                    <div class="bg-gray-200 p-4 rounded-md dark:bg-gray-800 border border-red-600">
                        <h3 class="text-lg font-bold text-gray-800 dark:text-white mb-2">Enterprise Plan</h3>
                        <p class="text-gray-600 dark:text-gray-300 mb-2">Tailored for large organizations.</p>
                        <p class="text-gray-600 dark:text-gray-300">- All previous benefits</p>
                        <p class="text-gray-600 dark:text-gray-300">- 40/minute Limit</p>
                        <p class="text-gray-600 dark:text-gray-300">- Shuttle Web Demo Source</p>
                        <p class="text-gray-600 dark:text-gray-300">- Priority Support</p>
                        <p class="text-gray-600 dark:text-gray-300">- Give suggestions to API</p>
                        <p class="text-gray-600 dark:text-gray-300">- Support Developers</p>
                    </div>
                    <div class="bg-gray-200 p-4 rounded-md dark:bg-gray-800 border border-green-600">
                        <h3 class="text-lg font-bold text-gray-800 dark:text-white mb-2">Can't Decide?</h3>
                        <p class="text-gray-600 dark:text-gray-300 mb-2">Contact us!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>